.product-table-container{
    width: 95%;
    margin: 0 auto;
    min-height: 300px;
    border:1px solid green;
    margin-top: 10px;
    text-align: left;
}

.category{
    width: 98%;
    border: 1px solid turquoise;
    min-height: 20px;
    margin-top: 10px;
    text-align: inherit;
}


